# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
coverage
.nyc_output

# Environment files
.env
.env.*
!.env.example

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentation
README.md
docs

# Misc
.DS_Store
*.md
!README.md
